@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    box-sizing:border-box;
}

body{
    font-family: 'rubik', sans-serif;
    background-color:#0A2344;
}

h1{
    text-align:center;
}

.accordion {
    max-width:50rem;
    margin:5.6rem auto;
    color:black;
    background-color:white;
    padding:2.8rem;
}

.accordion .container{
    position:relative;
    margin:0.625rem;
}

.accordion .label{
    position:relative;
    padding:0.625rem 0;
    font-size:1.5rem;
    cursor:pointer;
}

.accordion .label::before{
    content:'+';
    color:black;
    position:absolute;
    top:50%;
    right:-5px;
    font-size:2rem;
    transform:translateY(-50%);
}

.accordion .content{
    height:0;
    overflow:hidden;

    text-align:justify;
    width:90%;
    transition:height 1s;
}

.active .content{
    height:auto;
}

.accordion .container.active .label::before{
    content:'-';
    font-size:2rem;
}